@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}


body{
    @apply bg-Midnight-Gray font-Poppins text-white font-medium;
}
.blur-circle {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #f0bf6c; /* Circle color */
    border-radius: 50%; /* Makes it a circle */
}

.blur-circle::after {
    content: "";
    position: absolute;
    top: -10px; /* Adjust for 40px height */
    left: -10px; /* Adjust for 40px width */
    height: 20px;
    width: 20px;
    background-color: #f0bf6c; /* Same color as the circle */
    border-radius: 50%; /* Makes it a circle */
    filter: blur(30px); /* Apply the blur effect */
}

section:target {
    scroll-margin-top: 80px; /* Offset for the navbar */
}